{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_head %}
    {% include '@StylaCmsIntegration/storefront/layout/meta.html.twig' %}
{% endblock %}

{% block base_content %}
    {% if fullpath %}
        <div data-styla-client="{{ client }}">{{ body|raw }}</div>
    {% else %}
        <div data-styla-client="{{ client }}" data-styla-content="{{ path }}">{{ body|raw }}</div>
    {% endif %}
{% endblock %}
